Makefile
config.h
config.mk
config.log
vars.sh
.cproject
.project
/vendor/libucl-*
/vendor/libkqueue-*
.settings/
/test/jmtest.log
*.tar.gz
*.so
*.a
*.o
*.log
*.swp
.vagrant/

depends.mk


# Manpage-to-HTML
*.[12345678].html
