/init
/.idea/
/jobd
/job
*.o
/jobadm
/jobcfg
/jobprop
/jobstat
/.vscode/
/Attic/
test.log
/.vagrant/
/config.h
/config.inc
/test/obj
cmake-build-debug/
/core

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
